.catkin_workspace
.vscode
build/
devel/
src/models/lseg/modules/models/__pycache__/
src/models/lseg/additional_utils/__pycache__/
src/models/lseg/checkpoints/
src/e2map/scripts/__pycache__/
src/e2map/utils/__pycache__/
src/e2map/data/
src/e2map/bags/
src/e2map/video/
src/foundations/text/landmarks_list.txt
src/foundations/text/
src/foundations/update_output/
src/foundations/event_images/
src/foundations/e2map/images
src/foundations/e2map/texts
src/foundations/e2map/previous_images
src/foundations/__pycache__/
src/foundations/utils/__pycache__/
src/experiment/result
src/experiment/__pycache__/
src/environment/models/209/meshes/*.dae
src/environment/models/209/materials/textures/209_texture.png
src/environment/unitree/unitree_guide/unitree_actuator_sdk/unitree_motor_ctrl/script/__pycache__/